<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laser Maze</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/laser_maze.css') }}">
</head>
<body>
    <div class="container">
        <h1>Laser Maze Challenge</h1>
        <div id="maze">
            <div id="player"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class="laser"></div>
            <div class