
certifi
charset-normalizer
click
coverage
flask
flask-login
git-filter-repo
gitdb
gitpython
gunicorn
idna
iniconfig
itsdangerous
jinja2
lxml
markupsafe
packaging
pluggy
pytest
pytest-cov
pyyaml
requests
smmap
unittest-xml-reporting
urllib3
werkzeug
